@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Montserrat", system-ui;
}

.list > .line {
  display: none;
  transition: all 1s ease-in-out;
}
.list:hover > .line {
  display: flex;
  transition: all 1s ease-in-out;
}

.herosection {
  background-size: cover;
  background-attachment: fixed;
}

.fixed-background {
  background-attachment: fixed;
}

.checks > .checksday > .line {
  width: 0; /* Start with width 0 */
  height: 0; /* Start with height 0 */
  opacity: 0; /* Start with opacity 0 (invisible) */
  background: black;
  transition: all 0.5s ease-in-out; /* Ensure transition includes width, height, and opacity */
  margin-top: 20px;
}

.checks:hover > .checksday .line {
  width: 100px; /* Expand width */
  height: 2px; /* Expand height */
  opacity: 1; /* Fade in (visible) */
}

.about-section-one {
  background: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center no-repeat;
  background-size: cover;

  background-attachment: fixed;
}
