@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Montserrat", system-ui;
}

.list > .line {
  display: none;
  transition: all 1s ease-in-out;
}
.list:hover > .line {
  display: flex;
  transition: all 1s ease-in-out;
}

.herosection {
  background-size: cover;
  background-attachment: fixed;
}

.fixed-background {
  background-attachment: fixed;
}
